@model AdvancedBE.Models.Category
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h1 class="text-center">Category Details</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@Model.NameCategory</h5>
        <p class="card-text">@Model.DescCategory</p>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>